header {
  margin: 50px 0;
}

.btn {
  background-color: #d79c6d;
  padding: 12px 35px;
  border-radius: 10px;
  color: #4f4d4d;
  margin-top: 12px;
}

.btn:active,
.btn:hover {
  color: #d79c6d;
  background-color: #4c4343;
}

main > ul {
  width: 600px;
  margin: 0 auto 50px auto;
}

main li {
  background-color: #dfcfc1;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
}

main li:nth-of-type(even) {
  background-color: #dbc5b2;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
}
