*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  letter-spacing: 2px;
  line-height: 2;
  font-family: "Lato", sans-serif;

  background-color: #54bab9;

  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 18px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
